<template>
    <div class="slds-popup-container">
        <!-- HEADER -->
        <extension-header onsearch={handleSearch}>
            <lightning-button-group slot="action">
                <template lwc:if={isBackButtonDisplayed}>
                    <lightning-button class="back-button" variant="brand" icon-name="utility:back" label="Back" size="medium" onclick={handleBackClick}></lightning-button>
                </template>
                <template lwc:if={isConnection}>
                    <!-- Actions for connections -->
                    <lightning-button icon-name="utility:add" label="Org" title="Add new org" onclick={connection_authorizeOrg}></lightning-button>
                    <lightning-button-icon icon-name="utility:knowledge_base" title="Open Documentation" onclick={documentationClick}></lightning-button-icon>
                    <lightning-button-menu menu-alignment="auto" alternative-text="Show menu">
                        <lightning-menu-item prefix-icon-name="utility:upload" value="Import" label="Import Orgs" onclick={importClick}></lightning-menu-item>
                        <lightning-menu-item prefix-icon-name="utility:download" value="Export" label="Export Orgs" onclick={exportClick}></lightning-menu-item>
                    </lightning-button-menu>
                </template>
                <template lwc:elseif={isDocumentation}>
                    <!-- Actions for Documentation -->
                    <lightning-button-icon icon-name="utility:salesforce1" title="Display Org List" onclick={openConnectionClick}></lightning-button-icon>
                </template>
            </lightning-button-group>
            
        </extension-header>

        <!-- BODY slds-background-white -->
        <div class="slds-is-relative slds-grid slds-wrap slds-grid_vertical-stretch full-page-body">

            <!-- SECTION -->
            <div class="slds-full-height slds-col slds-col slds-size_1-of-1 slds-p-top_small">
                <!-- Start -->
                <template lwc:if={isConnection}>
                    <connection-app lwc:ref="connection"  variant="card" is-header-less></connection-app>
                </template>
                <template lwc:elseif={isDocumentation}>
                    <doc-app lwc:ref="documentation" is-responsive></doc-app>
                </template>
                <!-- End -->
            </div>
        </div>
    </div>
</template>