:host{
    --slds-c-button-spacing-block-end : 4px;
}

.slds-breadcrumb .slds-breadcrumb__item:first-child > span {
    --slds-c-breadcrumbs-spacing-inline-start: 0;
}

.slds-breadcrumb .slds-breadcrumb__item > span {
    display: block;
    padding-top: 0;
    padding-right: var(--slds-c-breadcrumbs-spacing-inline-end, var(--sds-c-breadcrumbs-spacing-inline-end, 0.5rem));
    padding-bottom: 0;
    padding-left: var(--slds-c-breadcrumbs-spacing-inline-start, var(--sds-c-breadcrumbs-spacing-inline-start, 0.5rem));
}

.tableFixHead table {
    border-collapse: inherit;
    width: 100%;
}

.tableFixHead thead {
    position: sticky;
    top: 0;
    z-index: 2;
}

.slds-editor-footer {
    background-color: #fafaf9;
}