<template>
    <div class="card-item slds-col slds-grid slds-wrap slds-p-top_xx-small slds-p-left_xx-small">
        <div class="slds-grid slds-col slds-size_3-of-5">
            <lightning-icon icon-name="utility:salesforce1" class={iconClass} size="small"></lightning-icon>
            <p class="card-title">
                <span class="slds-text-heading_small">
                    <lightning-formatted-rich-text value={name} disable-linkify></lightning-formatted-rich-text>
                </span>
            </p>
        </div>
        <div class="slds-col slds-size_2-of-5">
            <lightning-button-group class="action-items">
                <lightning-button-icon icon-name="utility:new_window" title="Open Browser" size="small" onclick={handleEventClick} data-event="openBrowser" variant="border-filled"></lightning-button-icon>
                <!-- Incognito Icon -->
                <button onclick={handleEventClick} title="Open Incognito" data-event="incognito" class="slds-button slds-button_middle slds-button_icon slds-button_icon-small slds-button_icon-border-filled slds-button_first">
                    <svg class="slds-button__icon icon-incognito" viewBox="0 0 30 26" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.94,4.69L7.16,10.43a0.45,0.45,0,0,0,.43.58H22.78a0.45,0.45,0,0,0,.43-0.58l-2-6.36A1.15,1.15,0,0,0,20,3.27l-6.62,1A5.27,5.27,0,0,1,10.49,4h0A1.15,1.15,0,0,0,8.94,4.69Z" transform="translate(-0.15 -3.26)"></path>
                        <path d="M0.15,16.72H30a35.79,35.79,0,0,0-14.92-3.33A35.79,35.79,0,0,0,.15,16.72Z" transform="translate(-0.15 -3.26)"></path>
                        <circle class="cls-inc" cx="8.92" cy="19.76" r="3.91"></circle>
                        <circle class="cls-inc" cx="21.02" cy="19.76" r="3.91"></circle>
                        <path class="cls-inc" d="M12.61,22.36a4,4,0,0,1,2.47-.95,3.89,3.89,0,0,1,2.51.95" transform="translate(-0.15 -3.26)"></path>
                    </svg>
                </button>
                <lightning-button-icon icon-name="utility:apex" size="small" class="icon-apex" onclick={handleEventClick} title="Open Toolkit" data-event="openToolkit" variant="border-filled"></lightning-button-icon>
                <lightning-button-menu menu-alignment="auto" alternative-text="Show menu" icon-size="small" variant="border-filled">
                    <lightning-menu-item prefix-icon-name="utility:preview" value="Details" label="See Details" title="See details" onclick={handleEventClick} data-event="seeDetails"></lightning-menu-item>
                    <lightning-menu-item prefix-icon-name="utility:download" value="Export" label="Export" title="Export" onclick={handleEventClick} data-event="export"></lightning-menu-item>
                    <lightning-menu-item prefix-icon-name="utility:edit_form" value="Alias" label="Set Alias" title="Set alias" onclick={handleEventClick} data-event="setAlias"></lightning-menu-item>
                    <lightning-menu-item prefix-icon-name="utility:delete" value="Delete" label="Delete" title="Delete" onclick={handleEventClick} data-event="removeConnection"></lightning-menu-item>
                </lightning-button-menu>
            </lightning-button-group>   
        </div>
        <div class="slds-col slds-size_1-of-1">
            <p class="card-title">
                <span class="slds-text-title">
                    <lightning-formatted-rich-text value={username} disable-linkify></lightning-formatted-rich-text>
                </span>
            </p>
        </div>
    </div>
</template>