<template>
    <!-- Record List -->
    <div class="slds-p-left_small slds-p-top_small">
        <div class="slds-grid"> <!-- slds-grid_align-spread slds-grid_vertical-align-center -->
            <template lwc:if={isBackDisplayed}>
                <button class="slds-button slds-button_icon" title="Back" onclick={goBack} disabled={isLoading}>
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#back"></use>
                    </svg>
                    <span class="slds-assistive-text">{i18n.FIELDS_PANEL_BACK}</span>
                </button>
            </template>
            
            <h2 class="slds-m-left_x-small slds-tree__group-header slds-truncate">{title}</h2>
        </div>
    </div>
    <div class="slds-flex-column min-height-200">
        
        <div class="slds-flex-column slds-full-height min-height-200">
            <slot></slot> <!-- Slot -->
            <template lwc:if={namespaceFiltering_isDisplayed}>
                <div class="slds-grid slds-grid_align-end">
                    <lightning-combobox
                        class="slds-width-150 slds-float-right"
                        label="Namespaces"
                        dropdown-alignment="right"
                        value="All"
                        placeholder="Select Namespace filter"
                        disabled={isLoading}
                        options={namespaceFiltering_options}
                        onchange={namespaceFiltering_handleChange}
                    ></lightning-combobox>
                </div>
            </template>
            <template lwc:if={isSearchDisplayed}>
                <lightning-input 
                    class="slds-m-vertical_medium" 
                    type="search"
                    label="Search" 
                    variant="label-hidden"
                    value={filter}
                    onchange={handleSearch}
                ></lightning-input>
            </template>
            <div class="slds-flex-column slds-fill-height slds-is-relative">
                <template lwc:if={isLoading}>
                    <lightning-spinner alternative-text="Loading"></lightning-spinner>
                </template>
                <lightning-vertical-navigation onselect={handleSelection} compact class="slds-scrollable_y">
                    <lightning-vertical-navigation-section>
                        <template for:each={filteredList} for:item="item">
                            <slds-menu-item key={item.Key} name={item.Name} label={item.Label} highlight={itemHighlight} is-selected={item.isSelected}></slds-menu-item>
                        </template>
                    </lightning-vertical-navigation-section>
                </lightning-vertical-navigation>
            </div>
            
    
            <template lwc:if={displayIfEmpty}>
                <div class="slds-p-around_small">No items found</div>
            </template>
        </div>
    </div>
</template>