:host{
    height: 100%;
    --slds-c-textarea-sizing-min-height: 100px;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: #fff;
}
.panel {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.top-panel {
    border-bottom: 1px solid #dddbda;
    height: auto;
    display: flex;
}
.top-left-panel {
    flex: 1;
    border-right: 1px solid #dddbda;
    display: flex;
    flex-direction: column;
}
.top-right-panel {
    width: 500px;
    min-height: 300px;
}
.bottom-panel {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.bottom-left-panel{
    /*flex: 1;*/
    /*border-right: 1px solid #dddbda;*/    
    /*display: flex;
    flex-direction: column;*/
    /*min-width: 300px;*/
}

.bottom-right-panel{
    /*width: 100%;*/
}
