:host {
    font-size: smaller;
}

.custom-utility-bar {
    background-color: #032d60;
    color: white;
    justify-content: space-between; /*flex-end;*/
    align-items: center;
    display: flex !important;
    height: 1.5rem !important;
    position: relative !important;
    font-size: xx-small;
}

.custom-utility-bar a {
    color: white;
    margin-left: 5px;
}

.custom-utility-bar .custom-utility-text {
    font-weight: 400;
    align-items: center;
}

.custom-utility-bar .custom-utility-right {
    width: 30%;
    float: right;
    display: flex;
    justify-content: flex-end;
}

.custom-utility-bar .custom-utility-left {
    width: 100%;
}

.custom-utility-text-copy {
    --slds-c-icon-color-foreground: rgba(255, 255, 255, 1);
    --slds-c-button-text-color: rgba(255, 255, 255, 1);
    --slds-c-button-text-color-hover: rgba(255, 255, 255, 1);
    cursor: pointer;
}
