<template>
    <div class="slds-utility-bar_container" style="height:24px;">
        <ul class="slds-utility-bar custom-utility-bar slds-p-horizontal_x-small">
            <li class="slds-utility-bar__item custom-utility-text custom-utility-left slds-truncate">
                <template lwc:if={isConnectorDisplayed}>
                    <lightning-button-icon
                            alternative-text="copy"
                            class="custom-utility-text-copy"
                            icon-name="utility:copy"
                            onclick={handleCopyUsername}
                            title="Copy Username"
                            variant="bare"
                    ></lightning-button-icon>
                    <a class="slds-truncate" href="#" onclick={handleUsernameClick}>{usernameFormatted}</a>
                    <div class="slds-vertical-separator"></div>
                    <lightning-button
                            class="footer-utility-truncate custom-utility-text-copy"
                            icon-name="utility:copy"
                            label="Access Token"
                            onclick={handleCopyAccessToken}
                            title="Copy Access Token"
                            variant="base"
                    ></lightning-button>
                </template>
            </li>
            <li class="slds-utility-bar__item custom-utility-text custom-utility-right slds-truncate">
                <h2 class="slds-truncate">{versionFormatted}</h2>
                <!--
                    <lightning-button-icon
                    class="custom-utility-text-copy"
                    onclick={handleChangeVersionClick}
                    icon-name="utility:replace"
                    variant="bare"
                    alternative-text="Change Version"
                ></lightning-button-icon>
                -->
            </li>
        </ul>
    </div>
</template>