
.custom-utility-bar{
    background-color: #032d60;
    height: 1.5rem !important;
    color: white;
    justify-content: space-between;/*flex-end;*/
    align-items: center;
}

.custom-utility-bar .custom-utility-text{
    margin-left: 8px;
    font-weight: 400;
    align-items: center;
}

.custom-utility-text-copy{
    --slds-c-icon-color-foreground	:rgba(255, 255, 255, 1);
    cursor: pointer;
}