<template>
    <div class="slds-utility-bar_container" style="height:24px;">
        <ul class="slds-utility-bar custom-utility-bar">
            <li class="slds-utility-bar__item custom-utility-text">
                <h2>{usernameFormatted}</h2>
            </li>
            <li class="slds-utility-bar__item custom-utility-text">
                <h2>{versionFormatted}</h2>
                <!--
                    <lightning-button-icon
                    class="custom-utility-text-copy"
                    onclick={handleChangeVersionClick}
                    icon-name="utility:replace"
                    variant="bare"
                    alternative-text="Change Version"
                ></lightning-button-icon>
                -->
            </li>
        </ul>
    </div>
</template>