.vscode
.idea
.env
.sfdx
.DS_Store
**/.cursor/*
!/.cursor/
!/.cursor/skills/
!/.cursor/skills/**
!/.cursor/rules/
!/.cursor/rules/**
node_modules
__lwr_cache__
site
out/
*.zip
chrome_ext/
src/documentation/*/
cert/
/workers/
package-lock.json