.vscode
.idea
.env
.sfdx
.DS_Store
**/.cursor/*
!/.cursor/
!/.cursor/skills/
!/.cursor/skills/**
!/.cursor/rules/
!/.cursor/rules/**
node_modules
__lwr_cache__
site
dist/web
out/
*.zip
dist/extension/
assets/data/salesforce/*/
cert/
/packages/workers/dist/
/packages/server/dist/
/packages/shared/dist/
/packages/lwc/web-extension/**/*.js
/packages/lwc/web-extension/**/*.js.map
package-lock.json
.cursor/rules/do-not-edit-these-rules-from-mcp-gateway/
.windsurf/rules/do-not-edit-these-rules-from-mcp-gateway/
/test-results/