.fields-tree-wrapper {
    flex: 1;
    min-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.fields-tree-wrapper slds-file-tree {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}
