<template>
    <!-- Salesforce Panel -->
    <panels-salesforce class={salesforcePanelClass}
            record-id={recordId}
            is-back-button-displayed={isBackButtonDisplayed}
            onchangepanel={handlePanelChange}
            onback={handleGoBack}
    ></panels-salesforce>
    <!-- Default Panel -->
    <panels-default class={defaultPanelClass}
        is-back-button-displayed={isBackButtonDisplayed}
        onchangepanel={handlePanelChange}
        onback={handleGoBack}
    ></panels-default>
    
</template>