<template>
    <div>
        <!-- HEADER -->
        <extension-header></extension-header>

        <!-- BODY slds-background-white -->
        <div class="slds-p-around_small slds-grid slds-wrap slds-grid_vertical-stretch ">

            <!-- SECTION -->
            <div class="slds-auto-height slds-col slds-col slds-size_1-of-1 slds-p-top_small">
                <!-- Start -->
                <!--<extension-record-explorer versions={versions}></extension-record-explorer>-->
                <connection-app variant="card"></connection-app>
                <!-- End -->
            </div>
        </div>

        <!-- Footer -->
        <template lwc:if={isFooterDisplayed}>
            <extension-footer version={version}></extension-footer>
        </template>
    </div>
</template>