<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>SF Toolkit - Side Panel</title>
        <link href="/styles/slds-sf-toolkit.css" rel="stylesheet" />
        <link href="/styles/tabulator.min.css" rel="stylesheet" />
        <link href="/styles/dashboard.css" rel="stylesheet" />
        <link href="/styles/extension.css" rel="stylesheet" />
        <link href="/styles/monaco.css" rel="stylesheet" />
        <link href="/styles/prism.css" rel="stylesheet" />
        <script src="/scripts/googleAnalytic.js" type="module"></script>
    </head>
    <body class="sf-toolkit" style="margin: 0px">
        <script src="/libs/prism/prism.js"></script>
        <script src="/libs/mermaid/mermaid.min.js"></script>
        <script src="/libs/localforage/localforage.min.js"></script>
        <script src="/libs/localforage/drivers/chrome.js"></script>
        <script src="/libs/monaco/monaco.bundle.js"></script>
        <script src="/libs/openai/bundle.min.js"></script>
        <script src="/scripts/main.js" type="module"></script>
        <script src="/scripts/default.js" type="module"></script>
    </body>
</html>
