<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SF Toolkit - Options</title>
        <link href="/assets/styles/slds-sf-toolkit.css" rel="stylesheet"/>
        <link href="/assets/styles/extension.css" rel="stylesheet"/>
        <script src="/scripts/googleAnalytic.js" type="module"></script>
    </head>
    <body class="slds-full-height sf-toolkit" style="margin:0px;">
        <script src="/assets/libs/jsforce/jsforce.js"></script>
        <script src="/assets/libs/prism/prism.js"></script>
        <script src="/assets/libs/mermaid/mermaid.min.js"></script>
        <script src="/assets/libs/localforage/localforage.min.js"></script>
        <script src="/assets/libs/localforage/drivers/chrome.js"></script>
        <script src="/scripts/main.js" type="module"></script>
        <script src="/scripts/options.js" type="module"></script>
    </body>
</html>