:host{
    --slds-g-color-brand-base-30 : #014486;
}

.page-item a{
    border-bottom: dotted 1px;
    color: var(--slds-g-color-brand-base-30);
    text-decoration: none;
}


/** SF style **/
.slds-input{
    width: 100%;
}