:host {
    display: block;
    height: var(--slds-c-context-bar-height, 2.5rem);
}

.button-container {
    margin: var(--slds-g-spacing-small, 0.75rem);
}

.slds-global-header_container {
    position: absolute;
    height: var(--slds-c-context-bar-height, 2.5rem);
    background-color: var(--slds-g-color-neutral-base-100, #fff);
    border-bottom: 1px solid var(--slds-g-color-border-base-1, #e5e5e5);
}

.slds-context-bar__label-close {
    display: flex;
    align-content: center;
    align-items: center;
    flex-grow: 1;
    border-radius: 0;
    min-width: 0;
    color: inherit;
    font-size: 0.8125rem;
    z-index: 1;
}

.slds-context-bar__primary {
    padding-right: var(--slds-g-spacing-large, 1.5rem);
}

.slds-context-bar__secondary {
    justify-content: space-between;
}

.slds-context-bar {
    padding: 0;
}

.slds-context-bar__app-name {
    padding: unset;
}

.slds-context-bar__item {
    align-items: center;
}

.right-panel-collapse {
    padding-right: 0;
}