
:host {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    /*height: calc(100vh - 24px);*/
}

.slds-menu-collapsed{
    width: 50px !important;
}

.main-app-container{
    z-index: 50;
}

.custom-utility-bar-alert{
    background-color: var(--slds-g-color-error-base-40,#ea001e);
    height: 1.5rem !important;
    color: white;
}


/** Structure **/

.home {
    background-color: #fafaf9;
}

.l-container-vertical {
    position: absolute!important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    display: flex;
}

.l-container-whole-parent{
    position: absolute!important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.l-container-whole-parent{
    -webkit-overflow-scrolling: touch;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.l-cell-content-size {
    position: relative;
}

.l-cell-content-size{
    flex:none;
}

.l-cell-auto-size {
    position: relative;
    min-width: 0;
}

.l-cell-auto-size{
    flex: 1 1 auto;
}

.l-cell-auto-size{
    display: flex;
}

.home__navigation {
    border-right: 1px solid #dddbda;
    width: 250px;
    background-color: #fff;
}