
:host {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.app-container {
    margin-top: 30px;
    /**height:calc(100vh - 30px);*/
}

.app-container-logged-in {
    margin-top: 60px;
    /*height:calc(100vh - 60px);*/
}

.container{
    padding:1rem;
}

.custom-utility-bar-alert{
    background-color: var(--slds-g-color-error-base-40,#ea001e);
    height: 1.5rem !important;
    color: white;
}

