
:host {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
}

.app-container {
    margin-top: 30px;
    /**calc(100vh - 30px - 24px)*/
    height: calc(100vh - 30px);
}

.app-container-logged-in {
    margin-top: 75px;
     /**calc(100vh - 75px - 24px)*/
    height:calc(100vh - 75px);
}

.container{
    /*padding:1rem;*/
}

.custom-utility-bar-alert{
    background-color: var(--slds-g-color-error-base-40,#ea001e);
    height: 1.5rem !important;
    color: white;
}

