<template>
    <div class="slds-flex-column slds-full-height slds-light-bg">

        <!-- Editor Button -->
        <template lwc:if={isToolkitDisplayed}>
            <div class="editor-toolkit">
                <div class="slds-flex-column slds-vertical-button-group">
                    <template lwc:if={isCopyDisplayed}>
                        <lightning-button-icon
                                icon-name="utility:copy"
                                tooltip="Copy to clipboard"
                                onclick={handleCopyClick}
                        ></lightning-button-icon>
                    </template>
                </div>
            </div>
        </template>
        <!-- Editor -->
        <div lwc:ref="editor" class="slds-full-height"></div>

        <template lwc:if={isLoading}>
            <slds-spinner alternative-text="Loading" size="small"></slds-spinner>
        </template>
    </div>
</template>