
.slds-background-white {
    background-color: white;;
}

.slds-popup-container {
    /*height: 512px;*/ /* 600px*/
    /* overflow: visible; */
    display: flex;
    flex-direction: column;
    background-color: white;
}

.slds-full-height {
    height: 100%;
}

.description{
    font-weight: 300;
    font-size: .8125rem;
}