/* splitView.css */

:host{
    width: 100%;
}
.split-view {
    display: flex;
    height: 100%;
    position: relative;
}

.split-view-column {
    overflow: auto;
    height: 100%;
}

.separator-horizontal{
    cursor: col-resize;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 0.75rem;
    min-width: 0.75rem;
    background: #fff;
    border-radius: 0;
    border: 1px solid #747474;
    border-top: 0;
    border-bottom: 0;
    z-index: 1;
    /*margin: -1px 0;*/
    margin: 0;
}

.separator-icon-horizontal {
    width: 2px;
    height: 25px;
    margin: 7px;
    background-color: #706e6b;
}

.left-colapsed,
.right-colapsed {
    cursor: pointer;
    margin-bottom: 4px;
    margin-top: 4px;
    white-space: nowrap;
}
.left-colapsed {
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-right-color: #706e6b;
    border-left: 0;
    display: inline-block;
    margin-bottom: 5px;
}
.right-colapsed {
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-left-color: #706e6b;
    border-right: 0;
    display: inline-block;
}