<!-- splitView.html -->
<template>
    <div style={containerStyle} class={splitViewClass}>

        <div  class={splitViewColumnClass} style={leftColumnStyle}>
            <slot name="left"></slot>
        </div>
        
        <div class={splitterClass} style={splitterStyle} onmousedown={handleMouseDown}>
            <div if:true={isHorizontal} class="left-colapsed"></div>
            <div if:true={isHorizontal} class="separator-icon-horizontal"></div>
            <div if:true={isHorizontal} class="right-colapsed"></div>
            <div if:false={isHorizontal} class="top-colapsed"></div>
            <div if:false={isHorizontal} class="separator-icon-vertical"></div>
            <div if:false={isHorizontal} class="bottom-colapsed"></div>
        </div>

        <div  class={splitViewColumnClass} style={rightColumnStyle}>
            <slot name="right"></slot>
        </div>

    </div>
</template>
