:host {
    z-index: 999;
    position: fixed;
}

.full-page-body {
    max-height: 400px;
    height: 400px;
    position: relative;
    flex-grow: 1;
    overflow: auto;
}

.slds-fill-height {
    height: calc(100% - 120px);
}

.slds-metadata-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #3e3e3c;
}

.slds-toolkit-button-group {
    background: white;
    position: fixed;
    z-index: 999;
    top: 200px;
    border: 1px solid #032d60;
    opacity: 0.7;
    right: -15px;
}

.slds-toolkit-button-group:hover,
.slds-toolkit-button-group.slds-is-active {
    opacity: 1;
    right: 0px !important;
}

.slds-toolkit-overlay {
    position: fixed;
    z-index: 999;
    top: 200px;
    right: 36px;
}

.slds-popup-container {
    border: 4px solid #032d60;
    border-bottom: 0px;
}
.slds-popup-container-no-footer {
    border-bottom: 4px solid #032d60;
}
