:host {
    height: 100%;
    --_slds-g-shadow-inset-focus: 0 0 0 0px #fff inset, 0 0 0 0px #0b5cab inset;
}

.slds-horizontal-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.slds-horizontal-input-combobox {
    width: 150px;
}

.slds-horizontal-input-url {
    width: 100%;
}

.slds-api-container {
    background-color: #fafaf9;
}

/* Header Table UI Improvements */
.header-table-ui .header-row:hover {
    background-color: #f4f6fb;
    transition: background 0.2s;
}
.header-table-ui .header-row td {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.header-table-ui .header-row-duplicate {
    background-color: #fff7e3 !important;
}
.slds-icon-text-warning {
    color: #ffb75d !important;
}
.header-table-ui lightning-button-icon[variant="brand"] {
    box-shadow: 0 0 0 2px #0176d3;
}
