:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

.text-compare-root {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.text-compare-article {
    flex: 1;
    /* Ensure height when parent grid uses auto row (builder body slot) */
    min-height: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.text-compare-body {
    flex: 1;
    min-height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.text-compare-editor {
    flex: 1;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}
