:host {
    width: 100%;
    height: 100%;
}
.split-view {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
}

.split-view.horizontal {
    flex-direction: row;
}

.split-view.vertical {
    flex-direction: column;
}

.split-view-column {
    overflow: auto;
}

.split-view-column.horizontal {
    height: 100%;
}

.split-view-column.vertical {
    width: 100%;
}

.separator-horizontal,
.separator-vertical {
    cursor: col-resize;
    display: flex;
    user-select: none;
    z-index: 1;
    margin: 0;
}

.separator-horizontal {
    width: 0.75rem;
    min-width: 0.75rem;
    flex-direction: column;
    border-left: 1px solid var(--slds-g-color-border-base-1, #e5e5e5) !important;
    border-right: 1px solid var(--slds-g-color-border-base-1, #e5e5e5) !important;
}

.separator-vertical {
    height: 0.75rem;
    min-height: 0.75rem;
    flex-direction: row;
    cursor: row-resize;
    border-top: 1px solid var(--slds-g-color-border-base-1, #e5e5e5) !important;
    border-bottom: 1px solid var(--slds-g-color-border-base-1, #e5e5e5) !important;
}

.separator-icon-horizontal,
.separator-icon-vertical {
    background-color: var(--slds-g-color-neutral-base-50, #747474);
}

.separator-icon-horizontal {
    width: 2px;
    height: 25px;
    margin: 7px;
}

.separator-icon-vertical {
    height: 2px;
    width: 25px;
    margin: 7px;
}

.left-colapsed,
.right-colapsed,
.top-colapsed,
.bottom-colapsed {
    cursor: pointer;
    margin: 4px;
    white-space: nowrap;
}

.left-colapsed {
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-right-color: var(--slds-g-color-neutral-base-50, #747474);
    border-left: 0;
    display: inline-block;
}

.right-colapsed {
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-left-color: var(--slds-g-color-neutral-base-50, #747474);
    border-right: 0;
    display: inline-block;
}

.top-colapsed {
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-bottom-color: var(--slds-g-color-neutral-base-50, #747474);
    border-top: 0;
    display: inline-block;
}

.bottom-colapsed {
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top-color: var(--slds-g-color-neutral-base-50, #747474);
    border-bottom: 0;
    display: inline-block;
}

.vertical-splitter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-splitter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
