<template>
    <!--<div class="slds-page-header slds-page-header_joined">
        <div class="slds-page-header__row">
            <div class="slds-page-header__col-title">
                <div class="slds-media">
                    <div class="slds-media__figure">
                        <lightning-icon icon-name="standard:code_playground"></lightning-icon>
                    </div>
                    <div class="slds-media__body">
                        <div class="slds-page-header__name">
                            <div class="slds-page-header__name-title">
                                <h1>
                                    <span>SF Toolkit Light</span>
                                    <span class="slds-page-header__title slds-truncate" title="Light Version">Light Version</span>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-page-header__col-actions slds-align-middle slds-p-bottom_none">
                <div class="slds-page-header__controls">
                    <div class="slds-page-header__control">
                        <div class="slds-button-group" id="button-group-page-header-actions" role="group">
                            <button class="slds-button slds-button_neutral" type="button" onclick={redirectToWebsite}>Go to SF Toolkit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->

    <header class="slds-global-header_container">
        
        <div class="slds-global-header slds-grid slds-grid_align-spread">
            <div class="slds-global-header__item slds-show_small">
                <div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover">
                    <!--<div class={collapseClass}>
                        <lightning-button-icon icon-name={iconName} variant="bare" size="large" onclick={handleToggle}></lightning-button-icon>
                    </div>-->
                    <span class="slds-context-bar__label-action slds-context-bar__app-name">
                        <span class="slds-truncate" title="SF Toolkit">SF Toolkit</span>
                    </span>
                </div>
            </div>
            <div class="slds-global-header__item">
                <lightning-input 
                    class="" 
                    type="search"
                    label="Search" 
                    variant="label-hidden"
                    onchange={handleSearch}
                ></lightning-input>
            </div>
            <div class="slds-global-header__item">
                <slot name="action"></slot>
            </div>
        </div>
        
    </header>
</template>