<template>
    <template lwc:if={hasLoaded}>
        <template lwc:if={isDefault}>
            <views-default
                class="slds-full-height"
                panel={panel}
                record-id={recordId}></views-default>
        </template>
        <template lwc:elseif={isOverlay}>
            <views-overlay class="slds-full-height"></views-overlay>
        </template>
    </template>
    <template lwc:else>
        <div class="slds-text-align_center slds-text-color_weak slds-p-horizontal_medium">
            <slds-spinner
                alternative-text="Loading"
                message="Connecting to Salesforce"
                size="small"></slds-spinner>
        </div>
    </template>

    <!--
        <template lwc:if={hasLoaded}>
        </template>
        <template lwc:else>
        <div class="slds-text-align_center slds-text-color_weak slds-p-horizontal_medium">
            <slds-spinner alternative-text="Loading" size="small" message="Connecting to Mars"></slds-spinner>
        </div>
    </template>
    -->
</template>
