:host {
    flex: 1;
    flex-direction: column;
    display: flex;
}

thead {
    position: sticky;
    top: 0;
    z-index: 2;
}

.output-panel {
    position: relative;
    flex: 1;
}
.slds-table--header-fixed_container {
    padding-top: 0px;
    position: absolute;
    min-width: 100%;
    height: 100%;
    left: 0;
    border-top: 1px solid #dddbda;
    border-right: 1px solid #dddbda;
}

th,
td,
.slds-cell-fixed {
    max-width: 400px;
    min-width: 50px;
}

.slds-cell-fixed {
    /*padding-left: 0.5rem;*/
    /*transform: translate(-0.25rem);*/
    line-height: 2rem;
    position: relative;
}
.slds-cell-fixed::before {
    content: '';
    border-left: unset;
    position: absolute;
    height: 2rem;
    /*left: calc(0.25rem - 1px);*/
}

.tabulator {
    border: 1px solid #dddbda;
    border-radius: 4px;
}
.tabulator-header {
    background-color: #f3f2f2;
    border-bottom: 1px solid #dddbda;
}
.tabulator-header .tabulator-col {
    color: #3e3e3c;
    font-weight: bold;
    border-right: 1px solid #dddbda;
}
.tabulator-row {
    border-bottom: 1px solid #dddbda;
}
.tabulator-row:hover {
    background-color: #e0e5ee;
}
.tabulator-cell {
    padding: 0px !important;
    border-right: 1px solid #dddbda !important;
}

.sftk-cell {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0 0.25rem;
    min-height: 28px;
}

.sftk-cell-main {
    flex: 1 1 auto;
    min-width: 0;
}

.sftk-cell-actions {
    flex: 0 0 auto;
    display: flex;
    gap: 0.125rem;
}

.sftk-cell-btn {
    line-height: 1;
}

.sftk-cell-link {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tabulator-col.tabulator-col-sortable .tabulator-arrow {
    border-color: #3e3e3c;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
    white-space: normal;
}

.slds-is-sortable__icon {
    display: inline-block;
}

.tabulator-col-sorter-element:hover .slds-is-sortable__icon {
    fill: #0176d3;
}
