:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}
.child-relationship-panel {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.child-relationship-panel .slds-button {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    z-index: 100;
}

.slds-height-30 {
    height: 30%;
}

.slds-height-70 {
    height: 70%;
}
