<template>
    <!-- <template lwc:if={isMarkdownViewerDisplayed}>
        <slds-markdown-viewer
            lwc:ref="container"
            class="slds-flex-column slds-full-height slds-p-top_x-small slds-p-horizontal_medium"
            value={content}></slds-markdown-viewer>
    </template> -->
    <div class={pageClass}>
        <builder-editor>
            <builder-header slot="header"
                title="Release Notes"
                sub-title="SF Toolkit Release Notes"
                icon-name="standard:settings"
            >
                <div slot="actions" class="slds-builder-toolbar__actions"></div>
                <div slot="subactions" class="slds-builder-toolbar__actions"></div>
                <p slot="meta" class="slds-page-header__meta-text">
                    If there is any issue with the release, please contact us.
                </p>
            </builder-header>
            <article class="full-page-body">
                <release-notes></release-notes>
            </article>
        </builder-editor>
    </div>
</template>
