.slds-background-white {
    background-color: white;
}

.slds-popup-container {
    height: 100vh; /* 600px*/
    /* overflow: visible; */
    display: flex;
    flex-direction: column;
    background-color: #fafaf9;
}

extension-header {
    height: 50px;
}

.slds-full-height {
    height: 100%;
}

.sf-panel-context-banner {
    flex-shrink: 0;
    border-bottom: 1px solid #dddbda;
}

.sf-panel-context-banner__btn {
    width: 100%;
}
