.card-container {
    background-color: white;
    font-weight: 300;
    padding: 0.3rem 1rem;
    margin: 0 0 0.5rem;
    border: 1px solid #f2f2f2;
    border-left-width: 0.125rem;
    border-left-color: rgb(27 150 255);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}

.card-container-orgfarm {
    border-left-color: rgb(255 154 60);
}

.card-header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card-header-left {
    cursor: pointer;
    display: flex;
    align-items: center;
}
