.grid-container{
    display: grid;
    grid-template-rows: auto 1fr;
    height:calc(100vh - 30px - 2rem);
    width:calc(100vw - 3.5rem)
}

.grid-container .slds-page-header {
    width: inherit;
}

.grid-container .region-main {
    width: inherit;
}

/** Filters **/
.slds-page-header__detail-block{
    max-width: unset;
    padding-right: unset;
}

.slds-page-header__detail-block .slds-form-element__label{
    min-height: 18px;
}