.grid-container{
    display: grid;
    grid-template-rows: auto 1fr;
    height:calc(100vh - 60px - 3rem);
    width:calc(100vw - 3.5rem)
}

.grid-container .slds-page-header {
    width: inherit;
}

.grid-container .region-main {
    width: inherit;
    display: block !important;
}

.slds-page-header__detail-row{
    flex-wrap: wrap;
}

/** Filters **/
.slds-page-header__detail-block{
    max-width: unset;
    min-width: 200px;
    padding-right: unset;
    padding-left: 1rem !important;
}

.slds-page-header__detail-block-report{
    max-width: unset;
    min-width: 300px;
    padding-right: unset;
    padding-left: 1rem !important;
}

.slds-page-header__detail-separator{
    max-width: unset;
    padding-right: unset;
}

.slds-page-header__detail-block .slds-form-element__label{
    min-height: 18px;
}

/** Info header **/

.slds-page-header__detail-info{
    margin: 0.75rem -1rem -1rem;
    padding: 1rem;
    border-radius: 0 0 0.25rem 0.25rem;
    background-color: var(--slds-g-color-neutral-base-100,#fff);
    position: relative;
    z-index: 2;
}