<template>
    <div class="slds-flex-column slds-full-height slds-light-bg">
        <!-- Editor Button -->
        <div class="editor-toolkit">
            <div class="slds-flex-column slds-vertical-button-group">
                <lightning-button-icon
                    class="slds-button-first"
                    icon-name="utility:copy"
                    tooltip="Copy to clipboard"
                    onclick={handleCopyClick}></lightning-button-icon>
                <lightning-button-icon
                    class="slds-button-last"
                    icon-name="utility:left_align_text"
                    tooltip="Format Body"
                    onclick={handleFormatBodyClick}></lightning-button-icon>
            </div>
        </div>
        <!-- Editor -->
        <div lwc:ref="editor" class="slds-full-height" lwc:dom="manual"></div>

        <template lwc:if={isLoading}>
            <slds-spinner alternative-text="Loading"></slds-spinner>
        </template>
    </div>
</template>
