<template>
    <div class="slds-popup-container">
        <!-- HEADER -->
        <extension-header onsearch={handleSearch}>
            <lightning-button-group slot="action">
                <template lwc:if={isBackButtonDisplayed}>
                    <lightning-button class="back-button" icon-name="utility:back" label="Back" size="medium" onclick={handleBackClick}></lightning-button>
                </template>
                <!-- Actions for connections -->
                <lightning-button-icon variant={connectionVariant} icon-name="utility:salesforce1" title="Home" onclick={openConnectionClick}></lightning-button-icon>
                <template lwc:if={isAssistantDisplayed}>
                    <lightning-button-icon variant={assistantVariant} icon-name="utility:einstein" title="Assistant" onclick={einsteinClick}></lightning-button-icon>
                </template>
                <lightning-button-icon variant={documentationVariant} icon-name="utility:knowledge_base" title="Documentation" onclick={documentationClick}></lightning-button-icon>
                <lightning-button-menu menu-alignment="auto" alternative-text="Show menu">
                    <lightning-menu-item prefix-icon-name="utility:upload" value="Import" label="Import Orgs" onclick={importClick}></lightning-menu-item>
                    <lightning-menu-item prefix-icon-name="utility:download" value="Export" label="Export Orgs" onclick={exportClick}></lightning-menu-item>
                </lightning-button-menu>
            </lightning-button-group>
            
        </extension-header>

        <!-- BODY slds-background-white -->
        <div class="slds-is-relative slds-grid slds-wrap slds-grid_vertical-stretch full-page-body">

            <!-- SECTION -->
            <div class="slds-full-height slds-col slds-col slds-size_1-of-1 slds-p-top_small">
                <!-- Start -->
                <template lwc:if={isConnection}>
                    <connection-app lwc:ref="connection" variant="card" is-header-less></connection-app>
                </template>
                <template lwc:elseif={isDocumentation}>
                    <doc-app lwc:ref="documentation" is-responsive></doc-app>
                </template>
                <template lwc:elseif={isAssistant}>
                    <assistant-app lwc:ref="assistant" is-mobile></assistant-app>
                    <!-- 
                        openai-key={openaiKey} 
                        openai-assistant-id={openaiAssistantId}
                    -->
                </template>
                <!-- End -->
            </div>
        </div>
    </div>
</template>