
.slds-background-white {
    background-color: white;;
}

.slds-popup-container {
    height: 100vh; /* 600px*/
    /* overflow: visible; */
    display: flex;
    flex-direction: column;
    background-color: #fafaf9;
}

extension-header {
    height: 50px;
}

.slds-full-height {
    height: 100%;
}