<template>
    <lightning-modal-header label="User selector"></lightning-modal-header>
    <lightning-modal-body> 
        <!-- Table - START -->
        <slds-list-builder
            is-loading={isDatatableLoading}
            onsearch={handleSearch}
            records={filteredRecords}
            to-exclude={toExclude}
            total-records={totalRecords}
            columns={columns}
            id-field="id"
            onloadmoredata={loadMoreData}
            enable-infinite-loading={enableInfiniteLoading}
            load-more-status={loadMoreStatus}    
        >
            <div slot="empty-message" class="slds-text-title slds-align_absolute-center empty-datatable slds-text-align_center">
                <h2>No user matching your criteria.</h2>
            </div>
        </slds-list-builder>
        <!-- Table - END-->
    </lightning-modal-body>
    <lightning-modal-footer>
        <lightning-button
            class="slds-float_left slds-button"
            disabled={saveInProcess}
            variant="neutral"
            label="Cancel"
            onclick={handleCloseClick}
        ></lightning-button>
        <lightning-button
            class="slds-button"
            disabled={saveInProcess}
            variant="brand"
            label="Apply"
            onclick={handleApplyClick}
        ></lightning-button>
      </lightning-modal-footer>
</template>