/** Filter Panel **/

.slds-filter-panel-container {
    height: 100%;
    /*overflow:hidden;*/
    display: flex;
    flex-direction: row-reverse;
}
.slds-panel_docked {
    background-color: #fafaf9;
}

.slds-panel.slds-flex-column {
    display: flex !important;
}

.slds-panel__body {
    /*background-color: #fafaf9;*/
}
