<template>
    <div class="slds-filter-panel-container">
        <div class={filterPanelClass}>
            <div class="slds-panel__header">
                <h2 class="slds-panel__header-title slds-text-heading_small slds-truncate" title="Filter">Filter</h2>
                <div class="slds-panel__header-actions">
                    <button class="slds-button slds-button_icon slds-button_icon-small slds-panel__close" title="Collapse Filter" onclick={handleClose}>
                        <svg class="slds-button__icon" aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                        </svg>
                        <span class="slds-assistive-text">Collapse Filter</span>
                    </button>
                </div>
            </div>
            <div class="slds-panel__body">
                <div class="slds-filters">
                    <h3 class="slds-text-body_small slds-m-vertical_x-small">Matching all these filters</h3>
                    <ol class="slds-list_vertical slds-list_vertical-space">
                        <slot></slot>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</template>