<template>
    <lightning-modal-header label="Login As"></lightning-modal-header>
    <lightning-modal-body>
        <template lwc:if={isStandardDisplayed}>
            <dl class="slds-list_horizontal slds-wrap">
                <dt class="slds-item_label slds-text-color_weak slds-truncate" title="Standard">
                    Standard
                </dt>
                <dd class="slds-item_detail">
                    <a href={standard} onclick={handleStandardLogin} target="_blank">
                        Standard Login
                    </a>
                </dd>
            </dl>
        </template>

        <template lwc:if={isNetworkMembersDisplayed}>
            <dl class="slds-list_horizontal slds-wrap slds-m-top_medium">
                <dt
                    class="slds-item_label slds-text-color_weak slds-truncate"
                    title="Experience Cloud">
                    Experience Cloud
                </dt>
                <dd class="slds-item_detail">
                    <template iterator:item={networkMembers}>
                        <div class="slds-grid" key={item.value.Id}>
                            <a
                                href={item.value._redirectLink}
                                onclick={handleExperienceLogin}
                                target="_blank">
                                {item.value.Network.Name}
                            </a>
                        </div>
                    </template>
                </dd>
            </dl>
        </template>
    </lightning-modal-body>
</template>
