:host {
    height: 100%;
    --slds-c-textarea-sizing-min-height: 100px;
}

.language-log {
    white-space: break-spaces;
}

.apex-illustration {
    width: -webkit-fill-available;
}

.apex-editor {
    position: relative;
    flex: 1;
    display: flex;
    border-bottom: 1px solid #dddbda;
}
