:host{
    display: block;
}

.l-container-vertical {
    position: absolute!important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    display: flex;
}
.l-cell-content-size {
    flex:none;
    width:250px;
    position: relative;
}

.l-cell-auto-size{
    position: relative;
    min-width: 0;
    flex: 1 1 auto;
    display: flex;
}

.slds-tabs_scoped{
    height:unset;
}