<template>
    <div class="slds-popup-container">
        <!-- HEADER -->
        

        <!-- BODY slds-background-white -->
        <div class="slds-is-relative slds-grid slds-wrap slds-grid_vertical-stretch full-page-body">
            <!-- SECTION -->
            <div class="slds-full-height slds-col slds-col slds-size_1-of-1">
                <div class="slds-section slds-is-open">
                    <h3 class="slds-section__title">
                        <div class="slds-section__title-action">
                            <span class="slds-truncate" title="General Options">General Options</span>
                        </div>
                    </h3>
                    <div class="slds-section__content">
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2 slds-p-horizontal_small">
                                <lightning-input
                                    type="toggle"
                                    variant="label-stacked" 
                                    label="Open Field Explorer in the Side Panel"
                                    name="openAsPopup"
                                    message-toggle-active=""
                                    message-toggle-inactive=""
                                    onchange={openAsPopup_change}
                                    checked={openAsPopup_checked}
                                ></lightning-input>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div class="slds-grid slds-grid_align-center slds-p-vertical_small">
            <lightning-button
                class="slds-float_left slds-button"
                variant="neutral"
                label="Cancel"
                onclick={handleCancelClick}
            ></lightning-button>
            <lightning-button
                    class="slds-button"
                    variant="brand"
                    label="Save"
                    onclick={handleSaveClick}
            ></lightning-button>
        </div>
    </div>
</template>