.message-list-container {
    position: relative;
    margin-top: 10px;
}

.scroll-to-bottom-button {
    position: absolute;
    right: 0.75rem;
    bottom: 0.75rem;
    z-index: 1;
}

.agent-loading-status {
    margin-left: 0.5rem;
    font-size: 0.75rem;
    color: var(--slds-g-color-neutral-base-50, #747474);
}
