<!-- $layoutsDir/main.html -->
<!doctype html>
<html>
    <head>
        <title>SF Toolkit</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="$stylesDir/tabulator.min.css" />
        <link rel="stylesheet" href="$stylesDir/dashboard.css" />
        <link rel="stylesheet" href="$stylesDir/highlight.css" />
        <link rel="stylesheet" href="$stylesDir/prism.css" />
        <link rel="stylesheet" href="$stylesDir/monaco.css" />
        <link rel="stylesheet" href="$stylesDir/slds-sf-toolkit.css" />
        <link rel="stylesheet" href="/xterm.css" />
        <link rel="stylesheet" href="$stylesDir/web.css" />
        <script src="$libsDir/prism/prism.js"></script>
        <script src="$libsDir/localforage/localforage.min.js"></script>
        <script src="$libsDir/monaco/monaco.bundle.js"></script>
        <script type="module">
            import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
            window.mermaid = mermaid;
            import jsforce from '/libs/jsforce/jsforce.js';
            window.jsforce = jsforce;
        </script>
        <script>

            if(window?.electron?.ipcRenderer){
                // Retro-compatibility with old electron version
                try{
                    window.electron.invoke = window.electron.ipcRenderer.invoke;
                }catch(e){
                    console.log('--> electron.invoke <---',e);
                }
            }
            let host = window.location.origin;
            fetch(`${host}/config`)
                .then(response => response.json())
                .then(config => {
                    window.jsforceSettings = {
                        clientId: config.clientId,
                        chromeId: config.chromeId,
                        redirectUri: `${host}/oauth2/callback`,
                        proxyUrl: window.electron ? null : (config.proxyUrl ? config.proxyUrl : `${host}/proxy/`),
                    };
                    //jsforce.browser.init(window.jsforceSettings); // Reset
                });
            window.Prism = Prism;

            window.addEventListener('DOMContentLoaded', () => {
                if(window.electron && window.electron.listener_once){
                    window.electron.listener_once('set-ready-channel', args => {
                        console.log('--> set-ready-channel <---',args);
                        const [payload,channel] = args;
                        console.log('--> window.electron.channel <---',payload,channel);
                        window.electron.channel = channel;
                        window.electron.setChannel(channel);
                    });
                }
            })

            
        </script>
    </head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J8XPLSRY91"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-J8XPLSRY91');
    </script>
    <body class="sf-toolkit" style="margin: 0px">
        <!-- triple braces prevents HTML escaping -->
        {{{body}}} {{{lwr_resources}}}
    </body>
</html>
