:host{
    --slds-g-color-brand-base-30 : #0d6efd;
}

.page-item a{
    border-bottom: dotted 1px;
    color: var(--slds-g-color-brand-base-30);
    text-decoration: none;
}

.page-item{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}