<template>
    <div class="slds-popup-container">
        <!-- HEADER -->
        <extension-header onsearch={handleSearch}>
            <template lwc:if={isDefaultMenu}>
                <!-- Actions for record Explorer -->
                <lightning-button-group slot="action">
                    <lightning-button-icon icon-name="utility:new_window" label="Toolkit" title="Open SF Toolkit" onclick={redirectToWebsite}></lightning-button-icon>
                    <!--<lightning-button-icon icon-name="utility:einstein" title="Open Einstein" onclick={einsteinClick}></lightning-button-icon>-->
                    <lightning-button-icon icon-name="utility:apex" label="Apex" title="Open Anonymous Apex" onclick={redirectToAnonymousApex}></lightning-button-icon>
                    <lightning-button-icon icon-name="utility:database" label="SOQL" title="Open SOQL Builder" onclick={redirectToSoqlBuilder}></lightning-button-icon>
                    <lightning-button-icon icon-name="utility:threedots_vertical" label="App" title="See more Apps" onclick={openDefaultPanel}></lightning-button-icon>
                </lightning-button-group>
            </template>
        </extension-header>

        <!-- BODY slds-background-white -->
        <div class="slds-is-relative slds-grid slds-wrap slds-grid_vertical-stretch full-page-body">
            <!-- SECTION - Quick Links -->
            <!--
            <div class="slds-full-height slds-col slds-col slds-size_1-of-1 slds-p-top_small">
                <div class="slds-full-height slds-col slds-col slds-size_1-of-1">
                    <div class="slds-section slds-is-open">
                        <h3 class="slds-section__title">
                            <div class="slds-section__title-action">
                                <span class="slds-truncate" title="Quick Links">Quick Links</span>
                            </div>
                        </h3>
                        <div class="slds-section__content">
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2 slds-p-horizontal_small">
                                    <lightning-button label="Connections"></lightning-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->
            <!-- SECTION -->
            <div class="slds-full-height slds-col slds-col slds-size_1-of-1">
                <!-- Start -->
                <template lwc:if={isConnectorLoaded}>
                    <slds-tabset variant="scoped" class="slds-without-tab slds-full-height">
                        <!-- Default Welcome Section-->
                        <slds-tab class="full-page-body" label="Org Info" value={tabName_orgInfo}>
                            <ui-information-block title="Info">
                                <p>The content will automatically change based on your URL.</p>
                                <p>Navigate to your salesforce records to display the Data Explorer.</p>
                            </ui-information-block>
                            <org-users class="slds-p-around_x-small slds-show"></org-users>
                            <org-company title="General Info" link-label="Company" class="slds-p-around_x-small slds-show"></org-company>
                        </slds-tab>
                        <!-- Record Explorer Section-->
                        <template lwc:if={isRecordExplorer}>
                            <slds-tab class="full-page-body" label="Record Explorer" value={tabName_recordExplorer}>
                                <extension-record-explorer lwc:ref="recordexplorer" 
                                    versions={versions}
                                    record-id={recordId}
                                    current-origin={currentOrigin}
                                ></extension-record-explorer>
                            </slds-tab>
                        </template>

                    </slds-tabset>
                </template>
                <template lwc:else>
                    <div class="slds-text-align_center slds-text-color_weak slds-p-horizontal_medium">
                        <slds-spinner alternative-text="Loading" size="small" message="Connecting to Salesforce."></slds-spinner>
                    </div>
                </template>
                
                <!-- End -->
            </div>
        </div>

        <!-- Footer -->
        <template lwc:if={isFooterDisplayed}>
            <extension-footer version={version}></extension-footer>
        </template>
    </div>
</template>