@font-face {
    font-family: 'seti';
    /* Replace myFont with your resource name */
    src: url('/styles/seti.hash.woff') format('woff');
}

.fix-slds-button_icon-border-filled {
    height: 1.5rem;
}

.fix-arrow-button .fix-slds-button_icon-border-filled {
    height: 1.5rem !important;
}

/*slds-spinner.slds-spinner_container{
    z-index: 1 !important;
}*/
.slds-spinner_container.no-opacity{
    opacity: 1;
    background: rgba(255,255,255,1);
}

.slds-form-element_stacked .slds-grid {
    display:-webkit-box !important;
}

.slds-color-brand{
    color:rgb(7, 87, 133);
}

.slds-color-orange-dark{
    color:rgb(133, 74, 7);
}

.slds-color-orange-light{
    color:rgb(217, 127, 24);
}

.slds-card-grey{
    background-color:var(--slds-g-color-neutral-base-95,#f3f3f3);
}

.slds-text-title_bold {
    font-size: .875rem;
    font-weight: 700 !important;
}

.slds-border-right{
    border-right: 1px solid #dddbda;
}

.vertical-title{
    font-size:small;
    justify-content: flex-start !important;
}
.min-height-400{
    min-height: 400px;
}

.min-height-200{
    min-height: 200px;
}

.min-width-300{
    min-width: 300px;
}

.min-width-150{
    min-width: 150px;
}

.slds-width-150{
    width: 150px;
}

.slds-full-width{
    width: 100%;
}

.tab-visible{
    visibility: visible;
}

.tab-hide{
    visibility: hidden;
    height: 0;
}
code-analyzer .slds-vertical-tabs{
    display : -webkit-box !important;
}

.slds-text-color_warning{

}

/** Static Mode **/
.full-page{
    height:100%;
    display: flex;
    flex-direction: column;
}

.full-page-connected{
    /*height:calc(97vh - 90px);*/
}

.full-page-header{

}

.full-page-body{
    /*height: calc(100% - 120px);*/
    position: relative;
    flex-grow: 1;
    overflow: auto;
}

.full-page-body-builder{
    height: calc(100% - 2rem);
    position: relative;
}

.full-page-body > .slds-card__body{
    height: calc(100% - 2rem);
}

.slds-flex-column{
    display: flex;
    flex-direction: column;
}

.slds-flex-row{
    display: flex;
    flex-direction: row;
}

.slds-align-items_center{
    align-items: center; 
}

.slds-justify-content-flew-end{
    justify-content: flex-end;
}

.slds-justify-content-space-between{
    justify-content: space-between;
}

.slds-full-height{
    height:100%;
}

.slds-auto-height{
    height:auto;
}

.slds-overflow-hidden{
    overflow: hidden;
}

.slds-full-height.slds-grid .slds-col {
    height:100%;
    display: flex;
    flex-direction: column;
}

/*
.slds-full-height .slds-tabs_scoped{
    height:calc(100% - 41px);
    display: flex;
    flex-direction: column;
}
*/
.slds-full-height lightning-tabset > div {
    height:100%;
    display: flex;
    flex-direction: column;
}

.slds-padding-top-200{
    padding-top: 200px;
}

.slds-no-padding{
    padding: unset !important;
}

.slds-dark-bg{
    /*background-color: #292524;*/
}

.slds-light-bg{
    background-color: white;
}

.slds-card{
    border-radius: unset; /* Remove Border radius*/
}

.slds-page-header{
    border-radius: unset; /* Remove Border radius*/
}

.slds-vertical-button-group  button {
    border-radius: 0;
}

.slds-vertical-button-group .slds-button-first button {
    border-bottom: 0;
}

/** Footer **/
.custom-utility-bar{
    background-color: #032d60;
    height: 1.5rem !important;
    color: white;
}

.custom-utility-bar .custom-utility-text{
    margin-left: 8px;
    font-weight: 400;
}

.custom-utility-text-copy{
    --slds-c-icon-color-foreground	:rgba(255, 255, 255, 1);
    margin-left: 8px;
    cursor: pointer;
}

.menu-header .slds-nav-vertical__title:empty{
    padding:0px;
}

.menu-header lightning-vertical-navigation-item .slds-nav-vertical__action {
    padding-left: 3.5rem;
}

.slds-vertical-separator{
    background: #ffffff !important;
    opacity: 0.6;
    width: 1px;
    height: 16px;
    margin: 8px 4px;
}

/** Tab icon **/
.slds-tabs_scoped__link .slds-icon{
    width: 1rem;
    height: 1rem;
}

slds-tab.slds-tabs_scoped__content{
    display:none;
}
/* Smaller Tabs !
slds-tabset .slds-tabs--scoped__link, slds-tabset .slds-tabs_scoped__link {
    height: 1.5rem;
    line-height: 1.5rem;
}

slds-tabset .slds-tabs_scoped__overflow-button{
    height: 1.5rem;
    line-height: 1.5rem;
}
*/
slds-tabset .slds-tabs_scoped__link{
    padding: 0 0.5rem;
}

.slds-without-tab lightning-tab{
    display:none;
}

.slds-without-tab .slds-tabs_scoped__item {
    margin-bottom: unset;
}

.slds-menu-collapsed lightning-vertical-navigation-section .slds-nav-vertical__title{
    padding-left:0.2rem;
}
.slds-menu-collapsed lightning-vertical-navigation-section .slds-nav-vertical__action{
    padding-left:unset;
    padding-right:unset;
}
.slds-menu-collapsed lightning-vertical-navigation-item-icon .slds-nav-vertical__action lightning-icon{
    padding-left:0.8rem;
}

.slds-fill-height{
    /*height: calc(100% - 120px);*/
    position: relative;
    flex-grow: 1;
    overflow: auto;
}

.slds-checkbox-flex .slds-form-element__control{
    display:flex;
    flex-wrap:wrap;
}

/** Modal no scroll **/
.body-full-height .slds-modal__content{
    overflow: hidden;
    height: 100%;
}

/** Quick links */
.slds-card__header-with-quick-links{
    padding-bottom: 0px; /* Related to quick links */
}
.slds-quick-links{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

/** Smaller Toggle **/

.toolkit-small .slds-checkbox_toggle .slds-checkbox_faux{
    width: 2rem;
    height: 17px;
}

.toolkit-small .slds-checkbox_toggle [type=checkbox]:checked+.slds-checkbox_faux_container .slds-checkbox_faux:after{
    top: 0.1rem;
    left: .3rem;
    height: .5rem;
    width: .45rem;
}

.toolkit-small .slds-checkbox_toggle [type=checkbox]:checked+.slds-checkbox_faux_container .slds-checkbox_faux:before{
    top: 0;
    right: 0;
    width: 14px;
    height: 14px;
}

.toolkit-small .slds-checkbox_toggle .slds-checkbox_faux:after {
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
}

.toolkit-small.slds-form-element .slds-form-element__label{
    padding-top:unset;
}

.toolkit-small.slds-form-element .slds-checkbox_toggle{
    align-items: center;
}

.slds-inline-flex{
    display: inline-flex;
}

.slds-inline{
    display: inline;
}

.slds-contents{
    display: contents;
}

lightning-input[variant="label-stacked"] .slds-checkbox_toggle{
    display: flex;
    flex-direction: column;
}

/** Custom Tabulator **/

.tabulator-row.tabulator-highlight-row{
    --slds-c-button-text-color:white;
    --slds-c-button-color-border-hover:white;
    background-color: #888888;
    color: white;
}

.tabulator-row.tabulator-highlight-row a{
    color: white;
}

/*.tabulator-row.tabulator-row-even {
    background-color: #fafaf9;
}*/

.tabulator-row.tabulator-selected {
    --slds-c-button-text-color:white;
    --slds-c-button-color-border-hover:white;
    background-color: #0176d3;
    color: white;
}

.tabulator .tabulator-header .tabulator-col {
    background: #f3f3f3;
}
.tabulator .tabulator-row-header{
    align-content: center;
}

.tabulator-row.tabulator-selected a{
    color:white !important;
}



@media (hover: hover) and (pointer: fine) {
    
    
    .tabulator-row.tabulator-selectable:hover {
        background-color: #e5e5e5;
        cursor: pointer;
    }
    .tabulator-row.tabulator-selected:hover {
        --slds-c-button-text-color:white;
        --slds-c-icon-color-foreground:white;
        --slds-c-button-color-border-hover:white;
        --slds-c-button-text-color-hover:white;
        background-color: #0176d3;
        color: white;
    }
    .tabulator-highlight-row:hover {
        --slds-c-button-text-color:white;
        --slds-c-icon-color-foreground:white;
        --slds-c-button-color-border-hover:white;
        --slds-c-button-text-color-hover:white;
        background-color: #888888 !important;
        color: white;
    }   

    .tabulator .tabulator-header .tabulator-col.tabulator-sortable.tabulator-col-sorter-element:hover {
        cursor: pointer;
        background-color: #e5e5e5;
    }
}

