:host {
    display: contents;
    font-size: smaller;
    color: black;
}

tr {
    transition: background-color 120ms ease, box-shadow 120ms ease;
}

tr > td {
    transition: background-color 120ms ease;
}

tr:hover > td {
    background-color: var(--slds-g-color-neutral-base-95, #f3f3f3);
}

tr:focus-within > td {
    background-color: var(--slds-g-color-neutral-base-95, #f3f3f3);
    box-shadow: inset 0 0 0 1px var(--slds-g-color-brand-base-60, #1b96ff);
}

pre {
    margin: 0px;
}

.slds-is-dirty {
    background-color: antiquewhite;
}

.slds-is-dirty > td {
    background-color: antiquewhite;
}

.slds-is-dirty:hover > td,
.slds-is-dirty:focus-within > td {
    background-color: #f7e3bf;
}

.right-actions,
.cell-action {
    opacity: 0.7;
    transition: opacity 120ms ease;
}
