:host {
  display: flex;
  justify-content: space-between;
  /*line-height: 32px;*/
  height: 100%;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
}

.slds-copy-clipboards {
  visibility: hidden;
}

:host:hover .slds-copy-clipboards{
  visibility: visible;
}
