<template>
    <template lwc:if={isOpen}>
        <div class={dropdownClass} role="listbox" aria-label="Hashtag suggestions">
            <template lwc:if={currentFolderId}>
                <div class="slds-hashtag-dropdown__header slds-flex-row" role="presentation">
                    <span class="slds-hashtag-dropdown__badge">#</span>
                    <span class="slds-hashtag-dropdown__label">{currentFolderName}</span>
                </div>
            </template>
            <template lwc:if={hasItems}>
                <ul class="slds-hashtag-dropdown__list slds-flex-column slds-fill-height">
                    <template for:each={viewItems} for:item="it">
                        <li key={it.key}
                            class={it.className}
                            data-index={it.index}
                            role="option"
                            aria-selected={it.isActive}
                            onmouseover={handleMouseOver}
                            onmousedown={handleMouseDown}
                        >
                            <div class="left-side slds-flex-row">
                                <span class={it.indentClass} aria-hidden="true"></span>
                                <span class="slds-hashtag-dropdown__badge">{it.ref}</span>
                                <span class="slds-hashtag-dropdown__label">{it.label}</span>
                            </div>
                            <div class="right-side slds-flex-row">
                                <template lwc:if={it.isExpandable}>
                                    <lightning-button-icon icon-name={it.chevronIcon} variant="bare" class="slds-m-right_x-small chevron-icon slds-is-relative slds-float_right" data-action="toggle" data-index={it.index} alternative-text="Toggle folder"></lightning-button-icon>
                                </template>
                            </div>
                            
                            
                        </li>
                    </template>
                </ul>
            </template>
            <template lwc:else>
                <div class="slds-hashtag-dropdown__empty" role="note">No matches found</div>
            </template>
        </div>
    </template>
</template>


