:host{
    height: 100%;
    --_slds-g-shadow-inset-focus : 0 0 0 0px #fff inset, 0 0 0 0px #0b5cab inset
}

.slds-horizontal-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.slds-horizontal-input-combobox {
    width:150px;
}

.slds-horizontal-input-url {
    width:100%;
}

.slds-api-container {
    background-color: #fafaf9;
}