<template>
    <lightning-modal-header label="User selector"></lightning-modal-header>
    <lightning-modal-body class="body-full-height">
        <!-- Table - START -->
        <div class="container slds-full-height">
            <div class="slds-flex-column slds-full-height slds-is-relative">
                <template lwc:if={isLoading}>
                    <div
                        class="slds-text-align_center slds-text-color_weak slds-p-horizontal_medium slds-p-vertical_medium">
                        <slds-spinner
                            alternative-text="Loading"
                            size="small"
                            message={loadingMessage}></slds-spinner>
                    </div>
                </template>
                <div lwc:dom="manual" class="custom-table"></div>
            </div>
        </div>

        <!-- Table - END-->
    </lightning-modal-body>
    <lightning-modal-footer>
        <lightning-button
            class="slds-float_left slds-button"
            disabled={isLoading}
            variant="neutral"
            label="Cancel"
            onclick={handleCloseClick}></lightning-button>
        <lightning-button
            class="slds-button"
            disabled={isLoading}
            variant="brand"
            label="Apply"
            onclick={handleApplyClick}></lightning-button>
    </lightning-modal-footer>
</template>
