<template>
    <slds-vertical-panel size={size} title={title} is-open={isOpen}>
        <div slot="actions" lwc:if={enableImportExport}>
            <lightning-button-icon
                class="slds-m-right_x-small"
                icon-name="utility:download"
                alternative-text="Export saved"
                title="Export saved"
                onclick={handleExportSavedClick}
            ></lightning-button-icon>
            <lightning-button-icon
                icon-name="utility:upload"
                alternative-text="Import saved"
                title="Import saved"
                onclick={handleImportSavedClick}
            ></lightning-button-icon>
            <input
                data-id="importSaved"
                class="slds-hide"
                type="file"
                accept="application/json,.json"
                onchange={handleImportFileChange}
            />
        </div>
        <lightning-tabset>
            <lightning-tab label={recentTitle}>
                <div class="slds-scrollable slds-p-top_small">
                    <template lwc:if={hasRecentItems}>
                        <template for:each={recentItems} for:item="item">
                            <div
                                key={item.id}
                                class="slds-p-around_x-small slds-border_bottom recent-item truncate-item"
                                data-id={item.id}
                                data-category="recent"
                                title={item.content}
                                onclick={selectItem}>
                                {item.content}
                            </div>
                        </template>
                    </template>
                    <template lwc:else>
                        <illustration-research sub-title="No Recent Item"></illustration-research>
                    </template>
                </div>
            </lightning-tab>
            <template lwc:if={isSavedItemsDisplayed}>
                <lightning-tab label={savedTitle}>
                    <div class="slds-scrollable slds-p-top_small">
                        <template lwc:if={hasSavedItems}>
                            <slds-file-tree
                                tree={savedTree}
                                selected-id={selectedId}
                                search-fields={savedSearchFields}
                                min-search-length="1"
                                onselect={handleTreeSelect}
                                ondeletefile={handleTreeDelete}
                            ></slds-file-tree>
                        </template>
                        <template lwc:else>
                            <illustration-research
                                title=""
                                sub-title="No Saved Item"></illustration-research>
                        </template>
                    </div>
                </lightning-tab>
            </template>
        </lightning-tabset>
    </slds-vertical-panel>
</template>
