/** Filter Panel **/

.slds-filter-panel-container {
    height: 100%;
    /*overflow:hidden;*/
    display: flex;
    flex-direction: row-reverse;
}
/* .slds-panel_docked {
    background-color: var(--slds-g-color-neutral-base-95, #f3f3f3);
} */

.slds-panel.slds-flex-column {
    display: flex !important;
}

.slds-panel__body {
    padding: var(--slds-g-spacing-xxx-small, 0.25rem);
    background-color: var(--slds-g-color-neutral-base-100, #fff);
}

.slds-panel_docked-left.with-border {
    border-left: 1px solid var(--slds-g-color-border-base-1, #e5e5e5);
    border-bottom: 1px solid var(--slds-g-color-border-base-1, #e5e5e5);
}

.slds-panel_docked-right.with-border {
    border-right: 1px solid var(--slds-g-color-border-base-1, #e5e5e5);
    border-bottom: 1px solid var(--slds-g-color-border-base-1, #e5e5e5);
}

.vertical-panel-drag-handle {
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 100%;
    cursor: col-resize;
    z-index: 2;
    background: transparent;
}

.slds-panel_docked-right .vertical-panel-drag-handle {
    left: 0;
    right: auto;
}
.slds-panel_docked-left .vertical-panel-drag-handle {
    right: 0;
    left: auto;
}