<template>
    <div class="slds-grid slds-grid_vertical slds-align_absolute-center slds-p-around_large">
        <div class="slds-grid slds-grid_align-center slds-m-bottom_medium">
            <img src="/images/sfdx_gui.png" alt="Salesforce Toolkit Logo" class="slds-m-right_medium" style="height: 48px;" />
            <h1 class="slds-text-heading_large">Welcome to Salesforce Toolkit</h1>
        </div>
        <p class="slds-text-title_caps slds-text-align_center slds-m-bottom_x-small">
            Built by Salesforce Software Engineers, for Salesforce professionals
        </p>
        <p class="slds-text-body_regular slds-text-align_center slds-m-bottom_medium">
            This toolkit was designed with the mindset of a Salesforce engineer, aiming to group everything you need in a single place. 
            <br>
            It is mainly used by Salesforce Professional Services, engineers, and partners, but is also valuable for anyone working with Salesforce.
        </p>
        <div class="slds-grid slds-grid_align-center slds-m-bottom_medium">
            <div class="slds-badge slds-theme_success">
                <span class="slds-badge__icon slds-badge__icon_left">
                    <span class="slds-icon_container slds-icon-utility-check">
                        <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                        </svg>
                    </span>
                </span>
                Installation Complete
            </div>
        </div>
    </div>
</template> 