<template>
    <template lwc:if={isPathDisplayed}>
        <div class="slds-utility-bar_container" aria-label="Utility Bar">
            <h2 class="slds-assistive-text">Utility Bar</h2>
            <ul class="slds-utility-bar custom-utility-bar">
                <!-- Utility Bar Items -->
                <!--
                    <li class="slds-utility-bar__item custom-utility-text">
                        <h2>{projectPath}</h2>
                        <lightning-button-icon
                            class="custom-utility-text-copy"
                            onclick={handleCopy}
                            icon-name="utility:copy"
                            variant="bare"
                            alternative-text="copy"
                        ></lightning-button-icon>
                    </li>
                -->
            </ul>
        </div>
    </template>
</template>